/* upload.css */

/* General styling for the page */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  background-color: #e11837;
  color: #fff;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.header {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin: 20px 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

/* Specific styling for upload elements */
.upload-section h2 {
  text-align: center;
  color: #333;
  font-size: 1.8em;
  margin-top: 20px;
}

.upload-box {
  border: 2px solid #616161;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: border-color 0.3s ease;
  border-radius: 25px;
}

.upload-box:hover {
  border-color: #be132d;
}

.upload-icon svg {
  font-size: 3em;
  color: #ccc;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

.upload-btn {
  background-color: #e11837;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #be132d;
}

.test-btn {
  background-color: #e11837;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.test-btn:hover {
  background-color: #be132d;
}
.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-name {
  font-size: 0.9em;
  color: #555;
  margin-top: 10px;
}
